.navbarContainer {
  background-color: #6b76ff;
}
.navbarLink {
  padding: 0 10px;
  color: white;
  text-decoration: none;
}
.navbarLink:hover {
  text-decoration: underline;
  color: #f9e900;
}

.navbarLink:focus {
  color: #f9e900;
}

@media (max-width: 768px) {
  .navbarLink {
    font-size: 1.2em;
  }
}
