.App {
  text-align: center;
  font-family: "Raleway", sans-serif;
}
.App > * {
  font-size: calc(10px + 6 * ((100vw - 320px) / 680)) !important;
}

.blogpost-wrapper {
  width: 66%;
  margin: 10px 16.666%;
}

.custom-border {
  border: 1px solid #6b76ff;
}
.author-profile-pic {
  margin: 0 auto;
}

.App-footer {
  background-color: #6b76ff;
  color: #f9f871;
}

.w-50 {
  margin-bottom: 20px;
}
input.form-control {
  padding: 0;
  font-size: 0.5rem;
  width: 20vw;
  height: 2vh;
}
button.btn {
  font-size: 0.5rem;
  margin-left: 10px;
  padding: 1px;
}
